.places {
    text-align: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}
.article {
    padding-top: 30px;
    margin-bottom: -25px;
}
.places article {
    width: 390px;
    border: 1px solid;
    border-color: #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
article h2 {
    font-size: 30px;
    text-align: center;
}